// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.mermaid {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-copyright {
  font-size: 14px;
  text-align: right;
  margin-bottom: 50px;
  > a {
    font-weight: bold;
  }
}

.recuit {
  font-size: 17px;
  font-weight: bold;
  color: gray;
}

blockquote {
  font-style: normal;
  background-color: #fafafa;
  padding: 10px 40px;
  font-size: 0.9em;
  border-left: 4px solid #e6e6e6;
}

.post-preview {
  .post-preview-date {
    font-size: 0.9rem;
  }

  .post-title {
    margin-top: 0.5rem !important;
  }
}

.clearfix {
  a {
    border-radius: 0.5rem;
    border-color: unset;
    background-color: #00b8ff;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-right: 0.5rem;
  }

  font-size: 2rem;
}
