// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.mermaid {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-copyright {
  font-size: 14px;
  text-align: right;
  margin-bottom: 50px;
  > a {
    font-weight: bold;
  }
}

.recuit {
  font-size: 17px;
  font-weight: bold;
  color: gray;
}

blockquote {
  font-style: normal;
  background-color: #fafafa;
  padding: 10px 40px;
  font-size: 0.9em;
  border-left: 4px solid #e6e6e6;
}

.tags {
  .label {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;

    .tag-anchor {
      display: flex;
      padding: 0 1rem;
      margin: 0.5rem 0;
      margin-right: 0.5rem;
      background-color: lightgrey;
      border-radius: 0.5rem;
      font-weight: bold;
    }
  }
  .tagged-posts {
    padding: 2rem 0;
  }
}
