body {
  font-size: 20px;
  color: #212529;
  line-height: 1.8; }

p {
  line-height: 1.8;
  margin: 30px 0; }
  p a {
    text-decoration: underline black; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800; }

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #0085A1; }

blockquote {
  font-style: italic;
  color: #868e96; }

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px; }

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #mainNav .navbar-brand {
    font-weight: 800;
    color: #343a40; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40; }
  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase; }
  @media only screen and (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent; }
      #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #fff; }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: rgba(255, 255, 255, 0.8); }
      #mainNav .navbar-nav > li.nav-item > a {
        padding: 10px 20px;
        color: #fff; }
        #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
          color: rgba(255, 255, 255, 0.8); } }
  @media only screen and (min-width: 992px) {
    #mainNav {
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden; }
      #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -67px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
        border-bottom: 1px solid white;
        background-color: rgba(255, 255, 255, 0.9); }
        #mainNav.is-fixed .navbar-brand {
          color: #212529; }
          #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
            color: #0085A1; }
        #mainNav.is-fixed .navbar-nav > li.nav-item > a {
          color: #212529; }
          #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
            color: #0085A1; }
      #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); } }

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5; }
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white; }
    @media only screen and (min-width: 768px) {
      header.masthead .page-heading,
      header.masthead .post-heading,
      header.masthead .site-heading {
        padding: 200px 0; } }
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center; }
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 50px;
      margin-top: 0; }
    header.masthead .page-heading .subheading,
    header.masthead .site-heading .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    @media only screen and (min-width: 768px) {
      header.masthead .page-heading h1,
      header.masthead .site-heading h1 {
        font-size: 80px; } }
  header.masthead .post-heading h1 {
    font-size: 35px; }
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block; }
  header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif; }
    header.masthead .post-heading .meta a {
      color: #fff; }
  @media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
      font-size: 55px; }
    header.masthead .post-heading .subheading {
      font-size: 30px; } }

.post-preview > a {
  color: #212529; }
  .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1; }
  .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px; }
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px; }
.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96; }
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529; }
    .post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
      text-decoration: underline;
      color: #0085A1; }
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px; } }

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    font-family: 'Lora', 'Times New Roman', serif; }
    .floating-label-form-group input::-webkit-input-placeholder,
    .floating-label-form-group textarea::-webkit-input-placeholder {
      color: #868e96;
      font-family: 'Lora', 'Times New Roman', serif; }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }
  .floating-label-form-group .help-block {
    margin: 15px 0; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #0085A1; }

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6; }

footer {
  padding: 50px 0 65px; }
  footer .list-inline {
    margin: 0;
    padding: 0; }
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center; }

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #00657b !important;
    border-color: #00657b !important; }

.btn-lg {
  font-size: 16px;
  padding: 25px 35px; }

.highlight, pre.highlight {
  background: #272b33;
  color: #aab1bf;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }

.highlight pre {
  background: #272b33; }

.highlight .hll {
  background: #272b33; }

.highlight .c {
  color: #5b6270;
  font-style: italic; }

.highlight .err {
  color: #fff;
  background-color: #e05151; }

.highlight .k {
  color: #c578dd; }

.highlight .l {
  color: #97c279; }

.highlight .n {
  color: #aab1bf; }

.highlight .o {
  color: #aab1bf; }

.highlight .p {
  color: #aab1bf; }

.highlight .cm {
  color: #5b6270;
  font-style: italic; }

.highlight .cp {
  color: #5b6270;
  font-style: italic; }

.highlight .c1 {
  color: #5b6270;
  font-style: italic; }

.highlight .cs {
  color: #5b6270;
  font-style: italic; }

.highlight .ge {
  font-style: italic; }

.highlight .gs {
  font-weight: 700; }

.highlight .kc {
  color: #c578dd; }

.highlight .kd {
  color: #c578dd; }

.highlight .kn {
  color: #c578dd; }

.highlight .kp {
  color: #c578dd; }

.highlight .kr {
  color: #c578dd; }

.highlight .kt {
  color: #c578dd; }

.highlight .ld {
  color: #97c279; }

.highlight .m {
  color: #d19965; }

.highlight .s {
  color: #97c279; }

.highlight .na {
  color: #d19965; }

.highlight .nb {
  color: #e4bf7a; }

.highlight .nc {
  color: #e4bf7a; }

.highlight .no {
  color: #e4bf7a; }

.highlight .nd {
  color: #e4bf7a; }

.highlight .ni {
  color: #e4bf7a; }

.highlight .ne {
  color: #e4bf7a; }

.highlight .nf {
  color: #aab1bf; }

.highlight .nl {
  color: #e4bf7a; }

.highlight .nn {
  color: #aab1bf; }

.highlight .nx {
  color: #aab1bf; }

.highlight .py {
  color: #e4bf7a; }

.highlight .nt {
  color: #df6b75; }

.highlight .nv {
  color: #e4bf7a; }

.highlight .ow {
  font-weight: 700; }

.highlight .w {
  color: #f8f8f2; }

.highlight .mf {
  color: #d19965; }

.highlight .mh {
  color: #d19965; }

.highlight .mi {
  color: #d19965; }

.highlight .mo {
  color: #d19965; }

.highlight .sb {
  color: #97c279; }

.highlight .sc {
  color: #97c279; }

.highlight .sd {
  color: #97c279; }

.highlight .s2 {
  color: #97c279; }

.highlight .se {
  color: #97c279; }

.highlight .sh {
  color: #97c279; }

.highlight .si {
  color: #97c279; }

.highlight .sx {
  color: #97c279; }

.highlight .sr {
  color: #56b5c2; }

.highlight .s1 {
  color: #97c279; }

.highlight .ss {
  color: #56b5c2; }

.highlight .bp {
  color: #e4bf7a; }

.highlight .vc {
  color: #e4bf7a; }

.highlight .vg {
  color: #e4bf7a; }

.highlight .vi {
  color: #df6b75; }

.highlight .il {
  color: #d19965; }

.highlight .gu {
  color: #75715e; }

.highlight .gd {
  color: #e05151; }

.highlight .gi {
  color: #43d089; }

.highlight ::selection {
  background-color: #3e4450; }

.highlight .language-json .w + .s2 {
  color: #df6b75; }

.highlight .language-json .kc {
  color: #56b5c2; }

blockquote {
  font-style: normal;
  background-color: #fafafa;
  padding: 10px 40px;
  font-size: 0.9em;
  border-left: 4px solid #e6e6e6; }

img {
  display: block;
  margin: 40px auto;
  max-width: 80%; }

img + em {
  display: block;
  margin: -30px auto 0 auto;
  max-width: 80%;
  text-align: center;
  font-size: 0.8em;
  color: #21252980; }

table {
  width: 100%; }

table, th, td {
  border: 1px solid #ccc;
  padding: 5px; }

a:hover {
  text-decoration: none;
  transition: 0.5; }

@media only screen and (min-width: 768px) {
  header.masthead .post-heading {
    padding: 150px 0 50px 0; }
    header.masthead .post-heading .post-title {
      margin-bottom: 10px;
      font-size: 46px;
      font-weight: 600; }
    header.masthead .post-heading .subheading {
      font-weight: 400; } }
header.masthead .post-heading {
  padding: 150px 0 50px; }
  header.masthead .post-heading .post-title {
    font-weight: 600; }
  header.masthead .post-heading .subheading {
    font-weight: 400; }

.post-content {
  font-size: 18px; }

.post-content hr {
  margin-top: 30px;
  border: 3px solid black;
  width: 10%;
  margin: 80px 0 20px 0; }

.post-content h2 {
  margin: 60px 0 20px 0; }

.post-content hr + h2 {
  margin: 0 0 20px 0; }

.post-content h3 {
  margin: 60px 0 20px 0; }

.post-content h4 {
  margin: 60px 0 20px 0; }

.post-content h5 {
  margin: 60px 0 20px 0; }

.post-content > ol, .post-content > ul {
  margin: 20px 0; }

.post-content li, .post-content li > p {
  margin: 5px 0; }

.post-content + hr {
  margin-top: 20px; }

.post-content > .footnotes {
  margin-top: 70px;
  border-top: 1px solid #00000080;
  padding-top: 20px;
  font-size: 0.75em; }

.mermaid {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 40px 0 40px 0; }

.photo-copyright {
  font-size: 14px;
  text-align: right;
  margin-bottom: 50px; }
  .photo-copyright > a {
    font-weight: bold; }

.recuit {
  font-size: 17px;
  font-weight: bold;
  color: gray; }

.tags hr, .categories hr, .authors hr {
  border: 3px solid black;
  width: 10%;
  margin: 20px 0 20px 0; }
.tags h1:first-child, .categories h1:first-child, .authors h1:first-child {
  margin-top: 0px; }
.tags h1, .categories h1, .authors h1 {
  margin-top: 60px; }
.tags .label, .categories .label, .authors .label {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0; }
  .tags .label .anchor, .categories .label .anchor, .authors .label .anchor {
    display: flex;
    padding: 0 1rem;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    background-color: lightgrey;
    border-radius: 0.5rem;
    font-weight: bold; }
.tags .posts, .categories .posts, .authors .posts {
  padding: 2rem 0; }
  .tags .posts h2:first-child, .categories .posts h2:first-child, .authors .posts h2:first-child {
    margin-top: 0px; }
  .tags .posts h2, .categories .posts h2, .authors .posts h2 {
    margin-top: 50px; }
  .tags .posts h2 > img, .categories .posts h2 > img, .authors .posts h2 > img {
    width: 1.75rem;
    display: inline;
    border-radius: 50%;
    margin: 0 5px 0 0; }
  .tags .posts .post, .categories .posts .post, .authors .posts .post {
    margin-top: 20px; }
    .tags .posts .post time, .categories .posts .post time, .authors .posts .post time {
      font-size: 0.75em; }

.post-preview .post-title {
  font-weight: 500; }

.post-preview .post-meta, .post-heading .post-meta {
  margin: 30px 0 20px 0;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
  line-height: 3em;
  color: black; }
  .post-preview .post-meta span, .post-heading .post-meta span {
    margin-right: 2px; }
  .post-preview .post-meta .author, .post-preview .post-meta .date, .post-preview .post-meta .category, .post-preview .post-meta .tag, .post-heading .post-meta .author, .post-heading .post-meta .date, .post-heading .post-meta .category, .post-heading .post-meta .tag {
    border-radius: 0.5rem;
    padding: 6px 10px; }
  .post-preview .post-meta .author, .post-heading .post-meta .author {
    background-color: azure; }
    .post-preview .post-meta .author img, .post-heading .post-meta .author img {
      display: inline-block;
      width: 1em;
      border-radius: 50%;
      margin: 0 5px 0 0; }
  .post-preview .post-meta .date, .post-heading .post-meta .date {
    background-color: lavenderblush; }
  .post-preview .post-meta .category, .post-heading .post-meta .category {
    background-color: ivory; }
  .post-preview .post-meta .tag, .post-heading .post-meta .tag {
    background-color: lightgrey; }

.toc {
  width: 15%;
  max-width: 300px;
  left: 0;
  position: fixed;
  top: 50vh;
  transform: translate(0, -50%);
  padding: 20px;
  line-height: 100%;
  color: black;
  font-weight: 300;
  visibility: visible;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.4, 0.95); }
  .toc .is-active-link {
    font-weight: 400; }

.toc-hidden {
  transform: translate(-100%, -50%);
  visibility: hidden; }

.toc-link {
  font-size: 12px;
  padding: 0; }

.toc-link::before {
  background-color: inherit; }

@media only screen and (max-width: 992px) {
  .toc {
    visibility: hidden; } }
.author-card .card-body a {
  text-decoration: none; }
.author-card .card-body .card-title {
  font-size: 24px;
  font-weight: bold; }
.author-card .card-body .card-text {
  font-size: 18px; }
.author-card .card-body .link-img {
  height: 20px;
  width: 20px;
  display: inline;
  margin: 0 10px 0 0; }
