---
layout: page
title: ✍🏻 Authors
background: '/assets/images/home-bg-main-1.png'
---
<div class="authors">
  <h1>작성자 목록</h1>
  <div class="label">
    {% for author_hash in site.data.authors %}
    {% assign author = author_hash[1] %}
    <div class="anchor">
      <a href="#{{ author.name }}">
        <span>{{ author.name }}</span>
      </a>
    </div>
    {% endfor %}
  </div>
  <h1>글 목록</h1>
  <div class="posts">
    {% for author_hash in site.data.authors %}
    {% assign key = author_hash[0] %}
    {% assign data = author_hash[1] %}
    <h2 id="{{ data.name }}">
      <img src="{{ data.image }}" alt="">
      {{ data.name }}
    </h2>
    <ul class="post">
      {% for post in site.posts %}
        {% with post.author|split:", " as authors %}
        {% endwith %}
      {% endfor %}
    </ul>
  {% endfor %}
  </div>
</div>
