---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.description | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <div class="post-meta">
            {% assign post_authors = post.author | split: ", " %}
            {% for post_author in post_authors %}
              {% assign author = site.data.authors[post_author] %}
              <span class="author"><a href="/authors#{{ author.name }}"><img src="{{ author.image }}">{{ author.name }}</a></span>
            {% endfor %}
              <span class="date">{{ post.date | date: '%Y-%m-%d' }}</span>
              <span class="category"><a href="/categories#{{ post.category }}">{{ post.category }}</a></span> 
            {% for tag in post.tags %}
              <span class="tag"><a href="/tags#{{ tag }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        </article>
        <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
